*{
  list-style: none;
  text-decoration: none;
  font-size: 1rem;

}

:root{
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body{
  background: #ccc;
  /* margin: 30px 50px; */
  
}

img{
  width: 100%;
}

h1{
  padding: 0.5rem;
}

h2{
  margin-left: 1rem;
  padding: 0.5rem;
}

h4{
  margin: 0;
}


fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  border: groove 2px ThreeDFace;
  padding-block-start: 0.35em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  padding-inline-start: 0.75em;
  min-inline-size: min-content;

}


/* .btn{
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  border: 0;
  border-radius: 0.5em;
} */


.wrapper{
  display: grid;
  margin: 1rem;
}

/* NAVIGATION */
.header-logo{
  display: flex;
 

  background-color: springgreen;
justify-content: flex-end;
flex-wrap: nowrap;
flex: 5;

}

.logo{

  width: 3rem;

}

.signin{
width: 2rem;
}

.cart{
  width: 2rem;
}

.header-nav a{
  background: var(--primary);
  display: grid;
  padding: 0.5rem 0;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: var(--shadow);
  /* margin-left: 1.5rem; */
  
}

.header-nav a:hover{
  background: var(--dark);
  color: var(--light);
}

.menu-list{
  background-color: darkorange;
  justify-content: space-around;
}



.main-section{
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  
}
/* MAIN LEFT */
.filters-by{
background-color: red;
}

.filters{
  background-color: blanchedalmond;
  /* width: max-content; */
  /* margin-left: 1rem; */
  padding: 0.5rem 0;
  max-width: 100%;
 
}


/* .filters-by ul{
  background-color: red;
  padding: 0.5rem;
} */

/* MAIN RIGHT */
.mid-section{

}

.sort-order{
  padding: 0;
  background-color: violet;
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  border: groove 2px ThreeDFace;
  padding-block-start: 0.35em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  padding-inline-start: 0.75em;
  min-inline-size: min-content;
  text-align: right;
}

.products{
  display: grid;
  background-color: coral;


}

.product{
  text-align: center;
  box-shadow:  1em 1em 1em  rgba(0,0,0,0.4);
  border-radius: 0.5em;
  border: solid;
  margin: 0.25rem;

  
}


.product-info{
  text-align: center;
  background-color:var(--light) ;
  padding: 0.5rem 0;
  margin: 0;
}

.course.soldout {
  box-shadow: none;
  background-color: var(--light);
  color: #999;
}

/* FOOTER */
.footer{
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* MEDIA QUERIES */
@media(min-width: 600px){


  .header-nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .products{
    grid-template-columns: repeat(2, 1fr);

}  
 
}

@media(min-width: 800px){
  
  .products{
    grid-template-columns: repeat(4, 1fr);
  
  }
}

@media(min-width: 1000px){

  
  .products{
    grid-template-columns: repeat(6, 1fr);
  
  }
}

